<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>October 17, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://forms.gle/hvQHhNX2tagez6tz6">Pre-workshop survey for research study</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30 PM</td>        <!-- time    -->
        <td><a href="files/VersionControlBCB503.pdf">Review Syllabus</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>October 24, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>2:30 PM</td>        <!-- time    -->
        <td>Introductions</td>        <!-- content -->
      </tr>
            <tr> <td>2:40</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>3:30</td>  <td>Break</td> </tr>
      <tr> <td>3:40</td>  <td>Version Control with Git</td> </tr>
       <tr> <td>4:40</td>  <td>Break</td> </tr> 
       <tr> <td>4:50</td>  <td>Version Control with Git (Continued)</td> </tr> 
       <tr> <td>5:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>6:00</td>  <td>END</td> </tr>
      </tr>
    </table>
  </div>
</div>

<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>October 31, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- 2:30 PM    -->
        <td></td>        <!-- https://swcarpentry.github.io/shell-novice/ -->
         
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>November 7, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>

<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>November 14, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>November 28, 2022</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
