<div class="row">    
  <div class="col-md-6"> 
    <h3>October 17, 2022</h3>
    <table class="table table-striped">
      <tr> <td>2:30 PM</td> <td>Introductions</td> </tr>
      <tr> <td>2:45 PM</td> <td><a href="files/VersionControlBCB503.pdf">Review Syllabus</a></td> </tr>
      <tr> <td>3:20 PM</td> <td>Discuss research study</td> </tr>
      <tr> <td>END</td> <td>Administer optional <a href="https://forms.gle/hvQHhNX2tagez6tz6">pre-workshop survey for research study</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>October 24, 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="https://forms.gle/hvQHhNX2tagez6tz6">Optional pre-workshop survey for research study</a></td> </tr>
      <tr> <td>2:30 PM</td> <td>Icebreaker</td> </tr>
      <tr> <td>2:40 PM</td> <td><a href="https://swcarpentry.github.io/shell-novice/"><b>Unix Shell</b></a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">Set up for lessons</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing Shell</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></td> </tr>
      <tr> <td>3:25 PM</td> <td>Break </td> </tr>
      <tr> <td>3:30 PM</td> <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">Working with Files and Directories</a></td> </tr>
      <tr> <td>4:20 PM</td> <td>Break</td> </tr> 
      <tr> <td>4:30 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/"><b>Version Control with Git</b></a></td> </tr>
      <tr> <td></td> <td><a href="https://swcarpentry.github.io/git-novice/01-basics/index.html">Automated Version Control</a></td> </tr>
      <tr> <td></td> <td><a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">Setting up Git</a></td> </tr>
      <tr> <td></td> <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository</a></td></tr>
      <tr> <td></td> <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes</a></td></tr>
      <tr> <td>5:30 PM</td> <td>Break </td> </tr>
      <tr> <td>5:40 PM</td> <td>Wrap-up</td> </tr>
      <tr> <td>Optional</td> <td><a href="https://carpentries-incubator.github.io/shell-extras/" target="_blank">Additional study in shell</a></td> </tr>
    </table>
  </div>
</div>
<div class="row">        
  <div class="col-md-6"> 
    <h3>October 31, 2022</h3>
    <table class="table table-striped">
      <tr> <td>2:30 PM</td> <td>Icebreaker</td> </tr>
      <tr> <td>2:40 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/"><b>Version Control with Git</b></a> (Continued)</td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes</a> (Continued)</td> </tr>
      <tr> <td>3:00 PM</td> <td>Quick break</td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td> </tr>
      <tr> <td>4:00 PM</td> <td>Wrap up</td> </tr>
      <tr> <td>Optional</td> <td><a href="https://cbea.ms/git-commit/">Writing Git Commit Messages</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>November 7, 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td>Class canceled!  Please try to take selves through this material -- if you stumble, please use Slack channel!  :)</td></tr>
      <tr> <td>2:40 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/"><b>Version Control with Git</b></a> (Continued)</td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html">Ignoring Things</a></td> </tr>
      <tr> <td>3:30 PM</td> <td>Break</td> </tr>
      <tr> <td>3:35 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td> </tr>
      <tr> <td>4:45 PM</td> <td>Break</td> </tr>
      <tr> <td>4:40 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html">Conflicts</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/10-open/index.html">Open Science</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/11-licensing/index.html">Licensing</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/12-citation/index.html">Citation</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/13-hosting/index.html">Hosting</a></td> </tr>
      <tr> <td> </td> <td><a href="https://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">Using Git with RStudio</a></td> </tr>
      <tr> <td>END</td> <td>Read Chapter on <a href="https://lukejharmon.github.io/pcm/chapter8_fitdiscrete/" target="_blank">"Fitting models of discrete character evolution"</a> and complete <a href="files/discussion-template.docx">discussion template</a></td> </tr>
      <tr> <td>END</td> <td><a href="https://doi.org/10.1093/bioinformatics/btm538" target="_blank">Read 'GEIGER' paper</a> and complete <a href="files/discussion-template.docx">discussion template</a></td> </tr>
   </table>
  </div>
</div>
<div class="row">  
  <div class="col-md-6"> 
    <h3>November 14, 2022</h3>
    <table class="table table-striped">
    <tr> <td>Before starting</td> <td>Read Chapter on <a href="https://lukejharmon.github.io/pcm/chapter8_fitdiscrete/" target="_blank">"Fitting models of discrete character evolution"</a> and complete <a href="files/discussion-template.docx">discussion template</a></td> </tr>
    <tr> <td>Before starting</td> <td><a href="https://doi.org/10.1093/bioinformatics/btm538" target="_blank">Read 'GEIGER' paper</a> and complete <a href="files/discussion-template.docx">discussion template</a></td> </tr>
      <tr> <td>2:30 PM</td> <td>Icebreaker</td> </tr>
      <tr> <td>2:40 PM</td> <td><a href="https://swcarpentry.github.io/git-novice/"><b>Version Control with Git</b></a> (Continued)</td> </tr>
      <tr> <td> </td> <td>Review Exploring History through Supplement</a></td> </tr>
      <tr> <td>3:30 PM</td> <td>Break</td></tr>
      <tr> <td>3:40 PM</td> <td>Discuss Chapter on <a href="https://lukejharmon.github.io/pcm/chapter8_fitdiscrete/" target="_blank">"Fitting models of discrete character evolution"</a></td> </tr>
      <tr> <td>4:20 PM</td> <td>Break</td> </tr>
      <tr> <td>4:30 PM</td> <td>Discuss <a href="https://doi.org/10.1093/bioinformatics/btm538" target="_blank">'GEIGER' paper</a></td> </tr>
      <tr> <td>5:15 PM</td> <td>Break</td> </tr>
      <tr> <td>5:30 PM</td> <td>Wrap up</td> </tr>
      <tr> <td>END</td> <td>TBD</td> </tr>
      <tr> <td> </td> <td> </td> </tr>
      <tr> <td> </td> <td> </td> </tr>
      <tr> <td> </td> <td> </td> </tr>
    </table>
  </div>
  <div class="col-md-6"> 
    <h3>November 28, 2022</h3>
    <table class="table table-striped">
      <tr> <td>2:30 PM</td> <td>Icebreaker</td> </tr>
      <tr> <td>2:40 PM</td> <td>Recap</td> </tr>
      <tr> <td>3:00 PM</td> <td>Play with 'GEIGER' in R</td> </tr>
      <tr> <td></td> <td></td> </tr>
      <tr> <td></td> <td></td> </tr>
      <tr> <td>END</td> <td><a href="" target="_blank">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
