<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>October 17, 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="https://forms.gle/hvQHhNX2tagez6tz6">Optional pre-workshop survey for research study</a></td></tr>
      <tr>       <td>2:30 PM</td> <td><a href="files/VersionControlBCB503.pdf">Review Syllabus</a></td>   </tr>
      <tr>    <td>3:30 PM</td>         <td>END</td>        </tr>
    </table>
  </div>
  
  <div class="col-md-6"> 
    <h3>October 24, 2022</h3>
    <table class="table table-striped">
      <tr> <td>2:30 PM</td> <td>Introductions</td> </tr>
            <tr> <td>2:40 PM</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Unix Shell</a></td> </tr>
      <tr> <td>3:30 PM</td>  <td>Break</td> </tr>
      <tr> <td>3:40 PM</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
       <tr> <td>4:40 PM</td>  <td>Break</td> </tr> 
       <tr> <td>4:50 PM</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td> </tr> 
       <tr> <td>5:50 PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>6:00 PM</td>  <td>END</td> </tr>
      <tr> <td>On own</td> <td><a href="https://doi.org/10.1093/bioinformatics/btm538" target="_blank">Read 'GEIGER' paper</a> and complete <a href="files/discussion-template.docx">discussion template</a></td></tr>
      <tr> <td>Optional</td> <td><a href="https://carpentries-incubator.github.io/shell-extras/" target="_blank">Optional additional study</a></td></tr>
    </table>
  </div>
</div>

<div class="row">        
  <div class="col-md-6"> 
    <h3>October 31, 2022</h3>
    <table class="table table-striped">
      <tr> <td></td> <td></td> </tr>
      <tr> <td> </td>   <td></td></tr>
      <tr> <td></td> <td></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>November 7, 2022</h3>
    <table class="table table-striped">
      <tr>    <td></td> <td></td>  </tr>
      <tr>  <td></td>  <td></td> </tr>
      <tr>  <td></td> <td></td>  </tr>
    </table>
  </div>
</div>

<div class="row">  
  <div class="col-md-6"> 
    <h3>November 14, 2022</h3>
    <table class="table table-striped">
      <tr>       
        <td></td>    
        <td></td>    
      </tr>
      <tr>         
        <td></td>   
        <td></td>   
      </tr>
      <tr>           
        <td></td>    
        <td></td>   
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>November 28, 2022</h3>
    <table class="table table-striped">
      <tr>            
        <td></td> 
        <td></td>     
      </tr>
      <tr>           
        <td></td>    
        <td></td>    
      </tr>
      <tr>     
        <td>End</td>
        <td><a href="" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
